<!DOCTYPE HTML>
<html>
    <head>
        <link rel="Stylesheet" type="text/css" href="{{ site.root }}/static/css/typo.css">
        <link rel="Stylesheet" type="text/css" href="{{ site.root }}/static/css/reset_typo.css">
        <link rel="Stylesheet" type="text/css" href="{{ site.root }}/static/css/tango.css">
        <link rel="Stylesheet" type="text/css" href="{{ site.root }}/static/css/style.css">
        <title>{% block title %}{% endblock %}</title>
        <meta name="keywords" content="{{ site.keywords }}"/>
        <meta name="description" content="{{ site.description }}"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% block extra_scripts %}{% endblock %}
    </head>

    <body>
        <div id="container" class="typo">
            {% block container %}
            {% endblock %}
        </div>
        <div id="footer">
              <p>
                Copyright © 2012-{{ site.time.strftime("%Y") }} {{ site.author }}.
                Powered by <a href="http://simiki.org/" target="_blank">Simiki</a>.
                Theme by <a href="https://github.com/tankywoo/yasimple" target="_blank">YASimple</a>.
              </p>
                <p>Last Update {{ site.time.strftime("%Y-%m-%d %H:%M:%S") }}</p>
        </div>
    </body>
</html>
